.img-full{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.favorite{
    float: right;
    padding-right: 2%;
    font-size: 2.5rem;
    cursor: pointer;
}