html {
    font-family: sans-serif;
    font-size: 12px;
  }
  
  body {
    margin: 0;
  }
  
  html,
  body,
  #root {
    height: 100%;
    overflow-x: hidden;
   }
  
  .List {
    border: 1px solid #d9dddd;
  }
  
  .ListItemEven,
  .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ListItemEven {
    background-color: #DCDCDC;
  }

  .column-name{
    width: 16%;
    float: left;    
  }
  .column-name a{
    color:#393939
  }
  .column-picture{
    
    width: 10%;
    float: left;
  }

  .column-description{
    width: 67%;
    float: left;
    max-height: 98%;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .img-responsive{
    border-radius: 5px
  }

  .column-fav{
    width: 7%;
    float: left;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
  }

  .column-h-fav{
    width: 7%;
    float: left;        
    cursor: pointer;
  }